@model CreateTaskFormViewModel

<div class="container-block">
    <h2 class="title">Add task</h2>
    <form class="form--default" asp-action="Create">
        <div class="field-wrapper">
            <span asp-validation-for="CreateTask.Name"></span>
            <label asp-for="CreateTask.Name" class="label">Name</label>
            <input asp-for="CreateTask.Name" placeholder="Name of task" class="field">
        </div>
        <div class="field-wrapper">
            <span asp-validation-for="CreateTask.Deadline"></span>
            <label asp-for="CreateTask.Deadline" class="label">Deadline</label>
            <input asp-for="CreateTask.Deadline" type="datetime-local" class="field">
        </div>
        <div class="field-wrapper">
            <span asp-validation-for="CreateTask.CategoryId"></span>
            <label asp-for="CreateTask.CategoryId" class="label">Category</label>
            <select asp-for="CreateTask.CategoryId" class="field">
                <option value="">None</option>
                @foreach (var category in Model.CategoriesList)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <button class="button button--positive">Add</button>
    </form>
</div>

@*<div class="container-block">
    <h2 class="title">Add task</h2>
    <form class="form--default" asp-action="Create">
        <div class="field-wrapper">
            <span asp-validation-for="CreateTask.Name" data-valmsg-for="Name"></span>
            <label for="Name" class="label">Name</label>
            <input id="Name" name="Name" placeholder="Name of task" class="field">
        </div>
        <div class="field-wrapper">
            <span asp-validation-for="CreateTask.Deadline" data-valmsg-for="Deadline"></span>
            <label for="Deadline" class="label">Deadline</label>
            <input id="Deadline" name="Deadline" type="datetime-local" class="field">
        </div>
        <div class="field-wrapper">
            <span asp-validation-for="CreateTask.CategoryId" data-valmsg-for="CategoryId"></span>
            <label for="CategoryId" class="label">Category</label>
            <select id="CategoryId" name="CategoryId" class="field">
                @foreach (var category in Model.CategoriesList)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <button class="button button--positive">Add</button>
    </form>
</div>*@