@model EditCategoryViewModel

@{
    ViewData["Title"] = "Edit category";
}

<div class="container-block">
    <h2 class="title">Edit category</h2>
    <form class="form--default" asp-action="Edit" method="POST">
        <input type="hidden" asp-for="Id"/>
        <div class="field-wrapper">
            <span asp-validation-for="Name" class="validate-warning"></span>
            <label asp-for="Name" class="label">Name</label>
            <input asp-for="Name" placeholder="Name of category" class="field">
        </div>
        <button class="button button--positive">Save</button>
    </form>
</div>
<a asp-action="Index" class="button button--go-back">Go back</a>